%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:notices, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:notices, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:notices, :edit, :id => @notice.id)

.tabs-content
  = form_for :notice, url(:notices, :update, :id => @notice.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'notices/form', :locals => { :f => f }
